.footer {
  
  padding: 80px 40px;
  text-align: left;
  background-color: var(--section-bg);
  color: var(--text-color);
}

.footer-grid {
  display: grid;
  direction: row;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
}

.footer h4 {

  margin-bottom: 10px;
}
.logo{
  background-image: var(--mag-logo);
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 35px;
  align-items: center;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {

  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer ul li:hover {
  color: #00a8ff;
}

.footer-bottom {
  text-align: center;
  color: #b0bec5;
  font-size: 0.9rem;
  margin-top: 60px;
}



.social-icons-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.social_icon {
  background-color: var(--card-bg);
  padding: 6px;

  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.social_icon:hover {
  background-color: var(--card-hover-bg);
}
  