header{
  background-color: var(--bg-color);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-bottom: .5px solid var(--border-bottom);  /* thickness | style | color */
  border-top: none;
  border-left: none;
  border-right: none;
 position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;  
  height: 6rem;
  width: 100%;

}
.container{
  max-width: 132rem;
  margin: auto;
}
.logo{
  background-image: var(--mag-logo);
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 35px;
  align-items: center;
}

li,a,button{
  font-size: 1rem; 
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}
button:hover{
  color: #2e86c1;
}
.btn-get-started{
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--button-border);
}

li{
  list-style: none;
}


.grid{
  display: grid;
}
  .navbar-grid{
    grid-template-columns:.2fr 1fr ;
    align-items: center;
    height: 6rem;
    margin: 0 2rem;
    
  }
  nav ul{
    display: flex;
    gap: 2.5rem;
  }
  .header-btn{
    display: flex;
    gap: 1.5rem;
    margin-left: 6rem;
    
    
  }

  nav a {
  text-decoration: none;
  color: inherit; /* keeps text color consistent */
}

nav a:hover {
  color: #2e86c1;
  text-decoration: underline; /* optional for hover */
}
/* Parent of dropdown */
.dropdown {
  position: relative;
}
.ham-menu{
    display:none;
  }
  .btn-get-started{
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
@media screen and (max-width: 998px) {
  .menu-desktop ul{
      display:none;
     }
    
 .ham-menu{
    display:inline-block;
    text-align: end;
    
  }
  .menu-mobile {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 20rem;
    background-color: var(--bg-color);
  }
  .menu-mobile ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    padding:0 1.5rem;
  }  
  .header-btn{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 0;
    
}


}

    
  

/* Dropdown menu hidden by default */
.dropdown-menu {
  position: absolute;
  top: 100%;      /* FIXED */
  left: 0;
  background:var(--bg-color);
  padding: 1.4rem;
  width: 80px;
  height: auto;
  border-radius: 14px;
  display: none;
  flex-direction: column;
  gap: .6rem;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
  z-index: 50;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
  display: flex;
}

/* Dropdown links */
.dropdown-menu a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

.dropdown-menu a:hover {
  color: #4cc0ff;
}
