.our-projects{
  text-align: center;
  background-color: var(--section-bg);
  color: var(--text-color);
  padding: 6.25rem 1.15rem;
}
.our-projects h2 {
  color: var(--hero1);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--heading-color);
}

.our-projects p {
  color: var(--text-color-p);
  opacity: 0.8;
  margin-bottom: 3.2rem;
  font-size: 1rem;
}
/* Grid Layout */
.projects-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  align-items: center;
}
.project-card {
    max-width: 50rem;
  width: 90%;
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;

}
.project-card:hover {
 background: linear-gradient(90deg, #00b4ff, #007bff);
  border-color: transparent;
  transform: translateY(-2px);
  
}
.project-card h3 {
  font-size: 1rem;
  margin-bottom: .6rem;
  color: var(--heading-color);
  padding-top:0;
  margin-top:0;
}
.project-card p {
  color: var(--text-color-p);
  font-size: 1rem;
  
}


