
.hero {
  text-align: center;

  background-color: var(--section-bg);
  color: var(--text-color);
  
}





.hero p {
  max-width: 800px;
  margin: 0 auto 40px;

  /* margin: 2 auto 40px; */
  color: #236586;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: bold;

   

  
}




.heroHeading1{
  color: var(--hero1);
}
.heroHeading2{
   padding-bottom: 20px;
  background: var(--hero2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroHeading1, .heroHeading2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400 Regular;
  font-size: 6rem;
  margin: 0 ;
  line-height: 1.1;
}