.opportunities{
    text-align: center;
  background-color: var(--section-bg);
  color: var(--text-color);
  padding: 100px 30px;
}
.opportunities h2 {
  color: var(--hero1);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.opportunities p {
  color: var(--text-color-p);
  opacity: 0.8;
  margin-bottom: 50px;
  font-size: 1rem;
}