.resume-page{
    
  background-color: var(--section-bg);
  display: flex;
  justify-content: center;

  padding: 100px 30px;
  
}
.resume-container{
    background-color: var(--card-bg);
    max-width: 50rem;
    width: 60%;
    text-align: center;
    height: auto;
    padding: 4rem;
    border-radius: 20px;
    

    
}
.resume-container button{
    border: 2px solid #0284C7;
padding: 0.75rem 2rem;        /* height + width */
  font-size: 1rem;              /* readable text */
  border-radius: 50px;        /* smooth rounded corners */
  font-weight: 600;
  cursor: pointer;
  

}

.resume-container button:hover{
    background-color: #0284C7;
    color: white;
}